/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

/* Header Styles */
header {
    background-color: #111;
    padding: 1rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #ffffff;
}

/* Main Section Styles */
main {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.product-category {
    margin-bottom: 3rem;
}

.product-category h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}

.product-card {
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 2px solid #ffffff;
}

.product-card h3 {
    margin: 1rem 0;
    color: #ffffff;
}

.product-card p {
    margin: 0;
    color: #ddd;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Lightbox Modal Styling */
.lightbox-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: auto;
}

.lightbox-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
}

.lightbox-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev, .next {
    cursor: pointer;
    color: white;
    font-size: 30px;
    padding: 10px;
    margin: auto 0;
}

.prev:hover, .next:hover {
    color: #bbb;
}


/* Footer Styles */
footer {
    background-color: #111;
    text-align: center;
    padding: 1rem;
   
    bottom: 0;
    width: 100%;
}
